@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,600;0,700;1,400&display=swap');

*{
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #fff;
  background-position:  40px 0, 40px 0, 0 0, 0 0;
  background-size: 80px 80px;
  background-repeat: repeat;
}

.contenedor .image{
  position: relative;
  width: 50%;
  height: 100%;
}

.contenedor .image img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor .image .title-h1{
  position: absolute;
  color: white;
  font-size: 42px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contenedor .image p{
  text-align: center;
  position: relative;
  color: white;
  top: 40%;
  font-size: 20px;
  font-weight: normal;
}

.contenedor .contentBx{
  background: white;
  display: inline-flex;
  width: 391px;
  height: 520px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contenedor .contentBx .formLogin #content{
  text-align: center;
}

.contenedor .contentBx .formLogin #content h2{
  font-size: 25px;
  color: #A4A6B3;
}

.contenedor .contentBx .formLogin{
  text-align: center;
}

.contenedor .contentBx .formLogin img{
  width: 40px;
  height: 40px;
  margin: 30px 0 20px 0;
}

.contenedor .contentBx .formLogin #content p{
  color: #A4A6B3;
  font-size: 14px;
}

.logo-google {
  position: relative;
  top: 30px;
}

.contenedor .contentBx .formLogin .form{
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* .contenedor .contentBx .formLogin .form .label{
  text-align: right;
} */

.contenedor .contentBx .formLogin .form p{
  color: #A4A6B3;
  margin: 0;
}

.contenedor .contentBx .formLogin .form p a{
  text-decoration: none;
  color: #2FCEC5;
}

/* .contenedor .contentBx .formLogin .form button{
  width: 268px;
  font-size: 16px;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  vertical-align: middle;
  border-radius: 24px;
  border: none;
  background: linear-gradient(90deg, #8DE7ED, #2FCEC5);
} */

/* .input{
  font-size: 14px;
  width: 327px;
  height: 30px;
  padding: 15px;
  box-sizing: border-box;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  border-bottom: 1px solid #A4A6B3;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-family: 'Mulish', sans-serif;
  color: #A4A6B3;
}


.input::placeholder {
  font-family: 'Mulish', sans-serif;
} */