.titulo {
    padding: 20px;
    color: rgb(8, 8, 8);
  }

  .content-info {
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 790px;
  }

  .table {
    background: #fff;
    position: relative;
    top: 150px;
  }

  .search {
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    position: relative;
    top: 30px;
    width: 100%;
  }

  .buscar {
    height: 40px;
  }

  .md {
    left: 100px;
    top: 40px;
  }

  .buttongp {
    width: 200px;
  }

  .dropdownmenu {
    width: 200px;
  }

  .modalact {
    padding: 20px;
  }

  .label {
    padding: 5px;
  }


